.section {
  position: relative;

  &.section-home {
    background-color: #b14545;
  }

  &.section-about {
    background-color: #63c180;
  }

  &.section-products {
    background-color: #295c80;
  }

  &.section-contact {
    background-color: #353127;
  }

}
