header {
	position: relative;
	height: 68px;
	font-size: 0;
	white-space: nowrap;
	z-index: 2;

	.left-wing, .right-wing{	
		height: 68px;
		width: 40%;
		background-color: white;
		display: inline-block;
		vertical-align: middle;

		ul {
			height: 100%;
			li {
				display: inline-block;
				margin: 0 auto;
				line-height: 4.3;
			}
		}
	}

	#logo-holder {
		background-image: url("../images/logo-holder.svg");
		background-size: auto;
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		height: 180px;
		z-index: 1;

		a {
			display: block;
			margin: auto;
			width: 100px;
			vertical-align: middle;
		}
	}

}

html{background-color: black;}