.c-products {
  display: flex;
  width: 100%;
  height: 100%;

  &:hover {
    .c-product__item {
      opacity: 0.7;
    }
  }
}

.c-product__item {
  position: relative;
  flex: 1px;
  transition: 150ms all ease-in;

  &:hover {
    flex: 3;
    opacity: 1 !important;

    .c-product__icon {
      top: 10%;
      width: 150px;
    }
  }
}

.c-product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms all ease 300ms;
}

.c-product__item--1 {
  background-color: #f00;
}

.c-product__item--2 {
  background-color: #0f0;
}

.c-product__item--3 {
  background-color: #00f;
}

.c-product__item--4 {
  background-color: #000;
}
