.c-sections-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  li {
    display: inline-block;
    margin: 0 20px;
  }
}

.c-sections-menu__link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}
